body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

section.team {
    display: flex;
    flex-direction: column;
    width: 250px;
}

div.team-member a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 12px;
}

div.team-member a img { 
    width: 48px;
    height: 48px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 12px;
}

.profile-text h3 { 
    font-weight: normal;
    margin: 0;
    margin-bottom: 4px;
}

.profile-text h5 { 
    color: #444;
    font-weight: normal;
    font-style: italics;
    margin: 0;
}

@media (max-width: 800px) {
    body {
        width: auto;
    }
}